// Colors
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hwb(229 57% 37%);
$gray: #E0E0E8;
$veryDarkBlue: hsl(299, 31%, 21%);
$darkBlue: #242A45;

// Fonts
$rubik: 'Rubik', sans-serif;